[submodule "submodules/qmicroz"]
	path = submodules/qmicroz
	url = https://github.com/artemvlas/qmicroz.git
[submodule "submodules/pathstr"]
	path = submodules/pathstr
	url = https://github.com/artemvlas/pathstr.git
