[Desktop Entry]
Type=Application
Name=Veretino
GenericName=Folder Integrity Checker
Comment=Check folder-wide data integrity
Exec=veretino
Icon=veretino
Categories=Utility;
MimeType=application/json;inode/directory;
